@keyframes starry-spin
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)


@keyframes starry-fade-out
  from
    opacity: 1
    transform: translate3d(0, 0, 0)

  to
    opacity: 0
    transform: translate3d(0, -50px, 0)


@keyframes starry-fade-in
  from
    opacity: 0
    transform: translate3d(0, -50px, 0)

  to
    opacity: 1
    transform: scale(1) translate3d(0, 0, 0)


@keyframes starry-mask-fade-in
  from
    opacity: 0
    transform: translate3d(0, 0, 0)

  to
    opacity: 1
    transform: scale(1) translate3d(0, 0, 0)


@keyframes starry-mask-fade-out
  from
    opacity: 1
    transform: translate3d(0, 0, 0)

  to
    opacity: 0
    transform: translate3d(0, 0, 0)


@keyframes starry-slide-up
  from
    opacity: 0
    transform: translate3d(0, 15px, 0)

  to
    opacity: 1
    transform: translate3d(0, 0, 0)


@keyframes starry-slide-up-out
  from
    opacity: 1
    transform: translate3d(0, 0, 0)

  to
    opacity: 0
    transform: translate3d(0, 15px, 0)


@keyframes starry-slide-down
  from
    opacity: 0
    transform: translate3d(0, -15px, 0)

  to
    opacity: 1
    transform: translate3d(0, 0, 0)


@keyframes starry-slide-down-out
  from
    opacity: 1
    transform: translate3d(0, 0, 0)

  to
    opacity: 0
    transform: translate3d(0, -15px, 0)


@keyframes starry-slide-right
  from
    opacity: 0
    transform: translate3d(15px, 0, 0)

  to
    opacity: 1
    transform: translate3d(0, 0, 0)


@keyframes starry-slide-right-out
  from
    opacity: 1
    transform: translate3d(0, 0, 0)

  to
    opacity: 0
    transform: translate3d(15px, 0, 0)


@keyframes starry-slide-left
  from
    opacity: 0
    transform: translate3d(-15px, 0, 0)

  to
    opacity: 1
    transform: translate3d(0, 0, 0)


@keyframes starry-slide-left-out
  from
    opacity: 1
    transform: translate3d(0, 0, 0)

  to
    opacity: 0
    transform: translate3d(-15px, 0, 0)


@keyframes starry-drawer-slide-in-left
  from
    transform: translate3d(-100%, 0, 0)

  to
    transform: scale(1) translate3d(0, 0, 0)


@keyframes starry-drawer-slide-out-left
  from
    transform: translate3d(0, 0, 0)

  to
    transform: translate3d(-100%, 0, 0)


@keyframes starry-drawer-slide-in-right
  to
    transform: translate3d(0, 0, 0)


@keyframes starry-drawer-slide-out-right
  from
    transform: translate3d(-100%, 0, 0)

  to
    transform: translate3d(0, 0, 0)


@keyframes starry-drawer-slide-in-top
  from
    transform: translate3d(0, -100%, 0)

  to
    transform: scale(1) translate3d(0, 0, 0)


@keyframes starry-drawer-slide-out-top
  from
    transform: translate3d(0, 0, 0)

  to
    transform: translate3d(0, -100%, 0)


@keyframes starry-drawer-slide-in-bottom
  from
    transform: translate3d(0, 100%, 0)

  to
    transform: scale(1) translate3d(0, -100%, 0)


@keyframes starry-drawer-slide-out-bottom
  from
    transform: translate3d(0, -100%, 0)

  to
    transform: translate3d(0, 100%, 0)


@keyframes starry-hide
  from
    opacity: 1

  to
    opacity: 0
    transform: translate3d(-20px, 0, 0)


@keyframes starry-picker-hide
  from
    opacity: 1
    transform: translate3d(0, 0, 0)

  to
    opacity: 0
    transform: translate3d(0, -30px, 0)


@keyframes starry-picker-open
  from
    opacity: 0
    transform: translate3d(0, -30px, 0)

  to
    opacity: 1
    transform: scale(1) translate3d(0, 0, 0)


@keyframes starry-picker-close
  from
    opacity: 1
    transform: translate3d(0, 0, 0)

  to
    opacity: 0
    transform: translate3d(0, -15px, 0)


@keyframes starry-notification-open
  from
    opacity: 0
    transform: translate3d(100px, 0, 0)

  to
    opacity: 1
    transform: translate3d(0, 0, 0)


@keyframes starry-notification-open-from-left
  from
    opacity: 0
    transform: translate3d(-100px, 0, 0)

  to
    opacity: 1
    transform: translate3d(0, 0, 0)


@keyframes starry-notification-close
  from
    opacity: 1
    transform: translate3d(0, 0, 0)

  to
    opacity: 0
    transform: translate3d(100px, 0, 0)


@keyframes starry-notification-close-from-left
  from
    opacity: 1
    transform: translate3d(0, 0, 0)

  to
    opacity: 0
    transform: translate3d(-100px, 0, 0)


@keyframes starry-zoom-in
  from
    transform: scale(0)

  to
    transform: scale(1)


@keyframes starry-zoom-out
  from
    transform: scale(1)

  to
    transform: scale(0)