// Default
$font-size = 11px
$font-size-small = 10px
$font-size-large = 12px
$font-main = rgba(0, 0, 0, .65)

$border-color = #e8e8e8
$border-radius = 4px

$default-shadow = 0 4px 22px 0 rgba(15, 35, 95, 0.12)
$default-section-shadow = 0 1px 4px 0 rgba(15, 35, 95, 0.12)
$default-text-shadow = 0 1px 0 rgba(0, 0, 0, .1)
$default-color = #D9D9D9

// Primary
$primary-light = #E6F4FF
$primary-main = #1A97F5
$primary-dark = #1682D4

// Secondary
$secondary-light = #DDEBFF
$secondary-main = #1E4DB7 
$secondary-dark = #173F98

// Danger
$danger-main = #E46A76
$danger-light = #FDF3F5

// Info
$info-light = #A7E3F4
$info-main = #0BB2FB

// Success
$success-light = #EBFAF2
$success-main = #39CB7F
$success-dark = #00964b
$success-contrast-text = #ffffff

// Warning
$warning-light = #FFF4E5
$warning-main = #FEC90F
$warning-dark = #DCB014
$warning-contrast-text = #ffffff

// Disable
$disabled-main =  #f5f5f5;
$disabled-contrast-text = fade($font-main, 25%)

// Error
$error-light = #FDF3F5
$error-main = #E46A76
$error-dark = #E45A68

// Text
$text-secondary = #777E89
$text-danger = #FC4B6C

// Red
$red-25 = #FDF4F4
$red-100 = #F9DADA
$red-300 = #EE9191
$red-500 = #D14343
$red-600 = #A73636
$red-700 = #7D2828

// Green
$green-25 = #F5FBF8
$green-100 = #DCF2EA
$green-200 = #BAE5D5
$green-300 = #97D7BF
$green-400 = #75CAAA
$green-500 = #52BD95
$green-600 = #429777
$green-700 = #317159
$green-800 = #214C3C
$green-900 = #10261E

// Blue
$blue-25 = #F3F6FF
$blue-50 = #EBF0FF
$blue-100 = #D6E0FF
$blue-200 = #ADC2FF
$blue-300 = #85A3FF
$blue-400 = #5C85FF
$blue-500 = #3366FF
$blue-600 = #2952CC
$blue-700 = #1F3D99
$blue-800 = #142966
$blue-900 = #0A1433

// gray
$gray-50 = #FAFBFF
$gray-75 = #F9FAFC
$gray-90 = #F4F6FA
$gray-100 = #F4F5F9
$gray-200 = #EDEFF5
$gray-300 = #E6E8F0
$gray-400 = #D8DAE5
$gray-500 = #C1C4D6
$gray-600 = #8F95B2
$gray-700 = #696F8C
$gray-800 = #474D66
$gray-900 = #101840

// Orange
$orange-25 = #FFFAF2
$orange-100 = #F8E3DA
$orange-500 = #FFB020
$orange-700 = #996A13

// Purple
$purple-100 = #E7E4F9
$purple-600 = #6E62B6

// Teal
$teal-100 = #D3F5F7
$teal-800 = #0F5156

// Yellow
$yellow-100 = #FFEFD2
$yellow-800 = #66460D

// Tint
$white-tint = #FAFBFF
$gray-tint = #F9FAFC
$yellow-tint = #FFEFD2
$green-tint = #F5FBF8
$orange-tint = #FFFAF2
$red-tint = #FDF4F4
$blue-tint = #F3F6FF
$purple-tint = #E7E4F9
$teal-tint = #D3F5F7

// Overlay
$overlay = rgba(67, 90, 111, 0.7)

// Muted
$muted = #696F8C


// Responsive
$media-screen-xs-max = 576px
$media-screen-sm-max = 768px
$media-screen-lg-max = 992px
$media-screen-xl-max = 1200px
$media-screen-xxl-max = 1400px

// Animate
$animate-time = .5s
$animate-type = cubic-bezier(0.165, 0.84, 0.44, 1)
$animate-type-easy-in-out = cubic-bezier(.9, .25, .08, .83)
$default-transition = $animate-time $animate-type;